<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="navbar-text pull-left">
            <p>@ 2014 Gordon Rawe Ltd.</p>
        </div>
        <div class="navbar-text pull-right">
            <a href="#"><i class="fa fa-weixin fa-2x">wechat</i></a>
            <a href="#"><i class="fa fa-twitter fa-2x">twitter</i></a>
            <a href="#"><i class="fa fa-google-plus-square fa-2x">google</i></a>
        </div>
    </div>
</div>