<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Gordon Rawe's Bootstrap Template</title>
	    {% include 'basic-css.html' %}
	    {% block custom-css %}{% endblock %}
	</head>
	<body>
	{% include 'header.html' %}

	{% include 'content.html' %}

	{% include 'footer.html' %}

	{% include 'modal.html' %}	
	</body>
	{% include 'basic-js.html' %}
</html>